
//Color 
$color-pink-1 : #b61984 ;
$color-pink-2 : #aa017e ;
$color-dark-1 : #181818 ;
$color-dark-2 : #191919 ;
$color-light-1 : #ffffff ;
$color-theme-1 : #dcd1f3 ;
$color-gray-1 :#696969 ;




//Font-size
$fs-1 : 14px ;
$fs-2 : 16px ;
$fs-3 : 18px ;
$fs-4 : 20px ;
$fs-5 : 24px ;
$fs-6 : 32px ;
$fs-7 : 40px ;
$fs-8 : 57px ;
$fs-9 : 60px ;
$fs-10 : 70px ;

//Font-weight
$fw-1 : 300 ;
$fw-2 : 400 ;
$fw-3 : 500 ;
$fw-4 : 600 ;
$fw-5 : 700 ;
$fw-6 : 800 ;
$fw-7 : 900 ;


//Padding
$pd-1 : 5px ;
$pd-2 : 10px ;
$pd-3 : 15px ;
$pd-4 : 25px ;
$pd-5 : 30px ;
$pd-6 : 60px ;
$pd-7 : 150px ;

//Margin
$mg-1 : 10% ;
$mg-2 : 15% ;
$mg-3 : 20% ;
$mg-4 : 5px ;
$mg-5 : 10px ;
$mg-6 : 15px ;
$mg-7 : 25px ;
$mg-8 : 30px ;
$mg-9 : 60px ;
$mg-10 : 70px ;
$mg-11 : 10px ;


//Border-radius
$bdr-1 : 20px ;
$bdr-2 : 30px ;
$bdr-3 : 40px ;
$bdr-4 : 50px ;
$bdr-5 : 50% ;




//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
    "extra-large-down": 1199.98px,
    "large-down": 991.98px,
    "medium-down": 767.98px,
    "small-down": 575.98px,
);






